html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
    margin: 0;
    padding: 10px;
    /* border: 2px solid green;  */
    background-color: #000;
}

.container img{
    width: 80px;
}

.header{
    display: flex;
    align-items: center;
}

.header h2{
    margin: 0;
    padding: 10px;
    color: white;
}

.content h1{
    font-family: 'Shrikhand', cursive;
    font-size: 90px;
    text-align: center;
    margin: 100px auto 75px;
    color: white;
}

.recipe{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 50px auto;
}

.nilagang-baka,
.beef-steak,
.tinola{
    display: inherit;
    align-items: center;
    margin: 50px;
}

.recipe a{
    text-decoration: none;
    font-family: 'Caprasimo', cursive;
    color: white;
    font-size: 25px;
}

a:hover{
    color: red;
}

.recipe img{
    width: 100px;
}